<h1>Admin Control Panel</h1>
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to fa_icon("users") + " Users", admin_users_path, class:"list-group-item" %>
      <%= link_to fa_icon("navicon") + " Categories", admin_categories_path, class:"list-group-item" %>
    </div>
  </div>
</div>
